.hero-section {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 5%;
  
}

.hero-text {
  flex: 1 1 50%;
  max-width: 800px;
  margin-left: 5%;
}

.hero-text h1 {
  font-family: "Mukta", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3;
}

.text-green {
  color: #1A906B; /* Adjust to match your design */
}

.text-orange {
  color: #FBCD5F; /* Adjust to match your design */
}

.hero-text p {
  font-size: 18px;
  color: #000000;
  text-align: justify;
}

.hero-image {
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.Enrollment {
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Enrollment img {
  max-width: 60%;
  height: auto;
}

.Summer {
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}