@font-face {
	font-family: "Mukta";
	src: url("../css/fonts/Mukta-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Mukta";
	src: url("../css/fonts/Mukta-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
